.ribbon {
  position: absolute;
  right: 10px;
  top: -1px;
  filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.5));
}
.ribbon > .content {
  color: white;
  font-size: 1.25rem;
  text-align: center;
  font-weight: 400;
  padding: 8px 4px 12px 4px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 0 100%);
  width: var(--width, 32px);
  min-height: var(--height, 36px);
  transition: clip-path 1s, padding 1s, background 1s;
}

.ribbon.down > .content {
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 8px),
    50% 100%,
    0 calc(100% - 8px)
  );
}

.svgIcon {
  color: red;
}
