@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f5f7;
}

.cardImageContainer {
  position: relative;
  transition: 400ms cubic-bezier(0.4, 0, 0.25, 1);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: black;
  border-radius: 10px;
}

.cardImageContainer:hover .overlay {
  opacity: 0.3;
}

.cardImageContainer:hover {
  transform: scale(1.03);
  transition: 400ms cubic-bezier(0.4, 0, 0.25, 1);
  cursor: pointer;
}
