@tailwind base;
@tailwind components;
@tailwind utilities;

pre {
  padding: 3rem 1rem 1.6rem 1rem !important;
  border-radius: 12px !important;
  margin-bottom: 1rem !important;
  margin-top: 1rem !important;
  background-image: url('/window-buttons.png') !important;
  background-repeat: no-repeat !important;
  background-size: 44px 10px !important;
  background-position: 16px 14px !important;
}

html,
body,
#__next {
  height: 100%;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #fff;
}

.cardImageContainer {
  position: relative;
  transition: 400ms cubic-bezier(0.4, 0, 0.25, 1);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: black;
  border-radius: 10px;
}

.Post:hover .overlay {
  opacity: 0.3;
}

.Post:hover .cardImageContainer {
  transform: scale(1.03);
  transition: 400ms cubic-bezier(0.4, 0, 0.25, 1);
  cursor: pointer;
}

/* Markdown post styles */

img[src*='#postMainImage'] {
  @apply my-6 h-[40vh] w-full object-cover;
}

img[src*='#postMiniImage'] {
  @apply m-auto;
}

.markdown-body li {
  @apply list-disc;
}
